@import '../../index.scss';
body {
  padding: 0;
  margin: 0;
  background-color: $primary-background-color;
}
.App {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: $content-font;
}
div.right-side-content {
  width: var(--content-width);
}
