.StackSummary {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: left;
  }
  .container {
    margin: 1rem;
  }
  .text {
    flex-grow: 4;
    width: 10rem;
    min-width: 60%;
  }
}
