@import '../../../index.scss';
.profile-background {
  display: inline-block;
  background-image: linear-gradient(#3c97d8, #95c4e5, #a3d9ff);
  box-sizing: border-box;

  width: 100%;
  padding: 3vw;
  img {
    width: 100%;
    border-radius: 30px;
  }
}
//make sizing dynamic
