@import '../../../index.scss';
.card-shadow {
  background-color: $primary-heading-text-color;
  border-radius: 1rem;
  padding: 1rem;
  background-image: linear-gradient(
    -135deg,
    adjust-hue($dark-peacock, 25),
    $dark-peacock,
    $medium-peacock
  );
  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: $secondary-background-color;
    padding: 1rem;
    border-radius: 1rem;
    transform: translate(0.5rem, 0.5rem);
  }
  .card:after {
    content: '';
    position: absolute;
    width: 10%;
    height: 80%;
    border-left: 0.5rem dotted $light-peacock;
    right: 91.5%;
    bottom: 20%;
  }
}
