@import '../../../index';

.project-section-wrapper {
  display: inline-block;
}

.ProjectSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  h3 {
    font-family: $content-font;
    color: $primary-heading-text-color;
    margin: 0;
  }
  .project-section-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem;
    & > * {
      margin: 0.5rem;
    }
  }
  .external-project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 3rem;
  }
}
