@import '../../../index.scss';

.profile {
  width: var(--profile-width);
  //   text-align: center;
  h1 {
    font-family: $heading-font;
    color: $welcome-text-color;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.3ch;
  }
}
