.big-gradient-text {
  font-family: Helvetica;
  font-size: 50px;
  background: -webkit-linear-gradient(
    right,
    rgb(7, 62, 99),
    rgb(109, 160, 207)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
