.profile-icon {
  $size: 3rem;
  color: blue;
  background-color: orange;
  background-position: center;
  width: $size;
  height: $size;
  border-radius: ($size/2);
  transition-property: width, height, border-radius, background-color;
  transition-duration: 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    //background-color: rgba(165, 73, 73, 0.5);
    background-color: yellow;
    //background-size: 100%;
    $growth: $size * 1.5;
    width: $growth;
    height: $growth;
    border-radius: $growth/2;
  }
}
