//breakpoints
$tablet-min-width: '480px';
$desktop-min-width: '1024px';

//color definitions
$subtly-green: #ebf2d7;
$white: #f9ffed;
$black: #131515;
//_______________________________
//https://www.design-seeds.com/seasons/spring/seasons-serving/
//$pale-sage: #cfe5ba;
$pale-sage: #e0ebcf;
$sage: #cfdf8d;
$slate: #222c33;
$dark-peacock: #204f61;
$medium-peacock: #417d97;
$light-peacock: #85b9c4;
$frost-blue: #e6f1f9;
//color
$primary-background-color: $slate;
$secondary-background-color: $frost-blue;

$primary-heading-text-color: $medium-peacock;
$welcome-text-color: $white;
$section-heading-text-color: $sage;

$primary-text-color: $black;

//fonts
$heading-font: Comfortaa, sans-serif;
$content-font: 'Open Sans', sans-serif;

//mobile screen defaults
:root {
  --profile-width: 80vw;
  --content-width: 90vw;
}
//tablet screens
@media screen and (min-width: $tablet-min-width) {
  :root {
    --profile-width: 30vw;
    --content-width: 60vw;
  }
}

@media screen and (min-width: $desktop-min-width) {
  :root {
    --profile-width: 300px;
    --content-width: 60vw;
  }
}
// @mixin profile-width() { // @media only screen and // } body {
/* background-color: #ddf7d9; */
/* #e7f4c3; */
/* #E2F2B5 */

//fonts
