@import '../../../index.scss';

.profile {
  width: var(--profile-width);
  //   text-align: center;
  max-width: 300px;
  h1 {
    font-family: $heading-font;
    color: $welcome-text-color;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.4ch;
  }
  .profile-icon-wrapper {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
