@import '../../../index.scss';

.color-fall {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 400px;

  .stack {
    position: relative;
    //width: $profile-width/5;
    width: 20%;
    height: 500px;
  }
}
